@import url("https://fonts.googleapis.com/css2?family=Kaisei+Decol:wght@700&display=swap");
body {
  line-height: normal;
  background: #0C1336;
  background: -moz-linear-gradient(left, #0C1336 0%, #10318F 64%, #0C1336 100%);
  background: -webkit-linear-gradient(left, #0C1336 0%, #10318F 64%, #0C1336 100%);
  background: linear-gradient(to right, #0C1336 0%, #10318F 64%, #0C1336 100%);
  font-family: var(--font-kaisei-decol);
}
.WelcomeTitle{
    font-size: 50px;
    color: #0C1336;
    font-weight: bold;
    margin-bottom: 50px;
    text-shadow: 5px 5px 13px #8cadf5;
}
:root {
  /* fonts */
  --font-kaisei-decol: "Kaisei Decol";

  /* font sizes */
  --font-size-5xl: 24px;
  --font-size-xl: 20px;

  /* Colors */
  --color-gray-100: #7d7c7c;
  --color-gainsboro: #d9d9d9;
  --color-white: #fff;
  --color-black: #000;

  /* Border radiuses */
  --br-8xs: 5px;
}

.container {
    border-radius: 10px;
    background-color: var(--color-white);
    width: 522px;
    height: 490px;
    justify-content: center;
  }

.header {
    font-size: 36px;
    display: inline-block;
    color: var(--color-black);
    font-weight: bold;
    margin-top: 20px;
}

.submit-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 35px;
}


.submit{
    align-items: center;
    justify-content: center;
    display: flex;
    cursor: pointer;
    width: 143px;
    font-size: 23px;
    height: 50px;
    border-radius: 5px;
    color: white;
    background-color: #219A0D;
}

.gray{
    background-color: #BFC3BC;
    color: white;
}

.input{
    border: none;
    width: 100%;
    padding: 10px 15px;
    margin: 8px 0;
}

.inputs{
    justify-content: flex-start;
    display:flex;
    margin-right: 25px;
    flex-direction: column;
}

.inputBox{
    border: none;
    width: 70%;
    height: 50px;
    border-bottom: 2px solid #000;
    font-size: medium;
    margin-right: 20px;
    font-family: var(--font-kaisei-decol);
}

.input img{
    margin-right: 20px;
    margin-top: 5px;
}

.forget-password span{
    color: rgb(26, 70, 248);
}

.ForgotPasswordText{
    margin-top: 20px;
    margin-bottom: 20px;
}

.submit-ResetPassword{
    align-items: center;
    justify-content: center;
    display: flex;
    cursor: pointer;
    width: 250;
    font-size: 23px;
    height: 50px;
    border-radius: 5px;
    color: white;
    background-color: #219A0D;
}