.DashboardContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 653px;
    height: 77px;
    flex-shrink: 0;
    border-radius: 5px;
    color: #fff;
    background: #3677A7;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    text-align: center;
    font-family: "Kaisei Decol";
    font-size: 13px;
    position: relative;
    top: 1px;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 50px;
  }
  
  .BigContainerProjConfig {
    width: 1300px;
    border-radius: 5px;
    height: 580px;
    flex-shrink: 0;
    background: #FFF;
    padding: 10px;
    overflow-y: auto;
    overflow-x: hidden;
    position: relative;
  }
  
  .margintop{
    margin-top: 50px;
  }

  .gitURL{
    width: 313px;
    height: 55px;
    flex-shrink: 0;
    color: #000;
font-family: "Kaisei Decol";
font-size: 23px;
font-style: normal;
font-weight: 700;
line-height: normal;
margin-top: 50px;
margin-bottom: 30px;
  }

  .gitURLInput{
    width: 993px;
height: 37px;
flex-shrink: 0;
background: #EAF0F7;
color: 000;
font-family: "Kaisei Decol";
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
border-color: transparent;
border-radius: 5px;
  }

  .urlContainer {
    display: flex;
    align-items: center;
    gap: 10px; 
    margin-top: 30px; 
    margin-left: 130px;
  }
  
  .urlDisplay {
    flex: 1; 
    background: #EAF0F7;
    color: #000;
    font-family: "Kaisei Decol";
    font-size: 20px;
    font-weight: 700;
    border: none;
    border-radius: 5px;
    padding: 5px;
  }
  
.URLInput{
  display: flex;
}


.newURL{
  color: #000;
  font-family: "Kaisei Decol";
  font-size: 23px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-left: 20px;
}

.NewURL-inputBox{
  border: none;
  width: 70%;
  height: 50px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.40);
  font-size: medium;
  margin-left: 100px;
  font-family: var(--font-kaisei-decol);
}

.URLDialog{
  margin-top: 50px;
}

.project-container {
  display: flex;
  justify-content: center;
}

.project-list {
  list-style-type: none;
  padding: 0;
}

.project-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10px;
  width: 100%;
}

.project-buttons {
  display: flex;
  gap: 10px;
  margin-left: auto;
}

.editButton img {
  width: 16px;
  height: 16px;
}

.joinButton {
  margin-top: 0px; 
}

.createButton {
  width: 100%;
  max-width: 200px;
  display: inline-block;
  text-align: center;
}