body{
    background: #D0E3FE;
    margin: 0;
    padding: 0; 
    position: relative; 
}

.DashboardContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 653px;
    height: 77px;
    flex-shrink: 0;
    border-radius: 5px;
    color: #fff;
    background: #3677A7;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    text-align: center;
    font-family: "Kaisei Decol";
    font-size: 13px;
    position: relative;
    top: 1px; 
    left: 50%; /* Center horizontally */
    transform: translateX(-50%); /* Center horizontally */
}

.ProjectsContainer{
    width: 1044px;
    height: 233px;
    flex-shrink: 0;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin-bottom: 30px;
    padding-top: 25px;
    display: flex; 
    justify-content: space-between; 
    flex-direction: column;
    align-items: center; 
    padding: 20px; 
    box-sizing: border-box; 
}

.Container{
    width: 1044px;
    height: 153px;
    flex-shrink: 0;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin-bottom: 30px;
    padding-top: 25px;
    padding: 20px; 
    box-sizing: border-box; 
    padding: 20px; 
    width: 100%; 
    display: flex; 
    justify-content: flex-start; 
    align-items: center; 

}


.Title{
    position: relative;
    top: 25px; /* Negative margin to overlap with container */
    left: -15px;
    text-align: center;
    width: 183px;
    height: 52px;   
    font-size: 23px;
    border-radius: 5px;
    background: #92C3E7;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.ConfigTitle{
    width: 300px;
    height: 55px;
}

.AdminTitle{
    width: 300px;
    height: 55px;
}

.Logout{
    width: 193px;
    height: 52px;
    flex-shrink: 0;
    border-radius: 5px;
    background: #E6E6E6;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    font-size: 22px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.UserAttribute{
    font-size: 22px;
    text-align: center;
    color: #000;
    margin-right: 80px;
}

.UserLogoutContainer {
    display: flex;
    align-items: center;
    position: absolute;
    top: 20px;
    right: 20px;
}

.components{
    width: 240px;
    height: 52px;
    flex-shrink: 0;
    border-radius: 5px;
    background: #C0E9DA;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    color: #000;
    font-size: 20px;
    text-align: center;
    display: flex; 
    align-items: center;
    justify-content: center; 
    cursor: pointer;
    margin-right: 140px;
    font-style: bold;
}

.componentsProject{
    width: 240px;
    height: 52px;
    flex-shrink: 0;
    border-radius: 5px;
    background: #C0E9DA;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    color: #000;
    font-size: 20px;
    text-align: center;
    display: flex; 
    align-items: center;
    justify-content: center; 
    cursor: pointer;
    margin-right: 140px;
    margin-top: auto;
    margin-bottom: 20PX;
    
}

.SelectTriggerProject {
    width: 300px;
    height: 50px;
    flex-shrink: 0;
    font-size: 20px;
    border: 1px solid #000;
    background: #FFF;
    text-align: start;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    position: relative;
    margin: 23px auto;
  }
  
  .SelectContentProject {
    font-size: 20px;
    width: 300px;
    border: 1px solid #000;
    border-radius: 5px;
    position: absolute;
    background-color: #FFF;

  }

  .componentsContainer {
    display: flex;
    width: 100%;
    justify-content: space-around;
}