.AdminComponents{
    width: 240px;
    height: 52px;
    flex-shrink: 0;
    border-radius: 5px;
    background: #C0E9DA;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    color: #000;
    font-size: 20px;
    text-align: center;
    display: flex; 
    align-items: center;
    justify-content: center; 
    margin-right: 140px;
    cursor: pointer;
}

.AdminbigContainer{
    display: flex; 
    justify-content: flex-start; 
    align-items: center; 
    padding: 20px; 
    width: 100%; 
    box-sizing: border-box; 
    margin-top: 20px;
}