@tailwind base;
@tailwind components;
@tailwind utilities;

.BigContainerUserAdmin {
    color: black;
    border-radius: 5px;
    width: 1278px;
    height: 673px;
    flex-shrink: 0;
    background: #FFFFFF;
    padding: 10px;
    overflow-y: auto;
    overflow-x: hidden;
    position: relative;
  }