.GitHubTitle{
    color: #000;
font-family: "Kaisei Decol";
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: normal;
text-align: center;
}

.BigContainerCodeActivity{
    width: 1269px;
height: 582px;
flex-shrink: 0;
background-color: #FFFFFF;
padding: 30px;
}